* {
  font-family: "PT Sans", sans-serif;
}

/* navbar  */
.bg-navbar {
  background-color: #423e37;
}

.active {
  font-weight: bold;
  border-bottom: 2px solid #ffca2c;
}

.nav-link:hover {
  border-bottom: 2px solid #ffca2c;
}

/* carousel  */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.carousel-indicators .active {
  background-color: red;
}
